{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SIMPLE BLOG</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="page-header"><h1><a href="/">Django Blog</a></h1></div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in postss %}
                <div class="post">
                    <h1><a href="">{{ post.title }}</a></h1>
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<p> {{ postss }} </p>
</body>
</html>